@media (max-width: 600px) {
  .LoginPage {
    font-size: 14px;
  }
  
  .LoginPage form {
    flex-direction: column;
  }
  
  .LoginPage label, .LoginPage input {
    width: 100%;
  }
}

@media (min-width: 601px) {
  .LoginPage form {
    flex-direction: row;
    align-items: center;
  }
  
  .LoginPage label {
    width: 30%;
    text-align: right;
    padding-right: 10px;
  }
  
  .LoginPage input {
    width: 70%;
  }
}

  .LoginPage { 
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .LoginPage form {
    display: flex;
    flex-direction: column;
  }
  
  .LoginPage label {
    margin: 10px 0;
  }
  
  .LoginPage input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  } 
  
  .LoginPage button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
  }
  
  .LoginPage p {
    color: red;
    margin: 10px 0;
  }
  .loginBtn {
    background-color: #4CAF50;
    color: white;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    margin: 3px;
  }

  #showPasswordBtn{
    background-color: #7a7c78;
    color: white;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    margin: 3px;
  }